<div th:fragment="learning">
    <section class="principles">
        <div class="container">
            <h2 class="principles__title title">Принципы обучения</h2>
            <div class="principles__inner">
                <div class="principles__item principles-item">
                    <div class="principles-item__title">
                        Нет расписания, оценок и менторов
                    </div>
                    <p class="principles-item__text">
                        Ты самостоятельно планируешь день, управляешь свободным временем, чтобы вовремя сдать проекты и проверить работы других участников. Мы ставим дедлайны, даём рабочее место с Mac и удобный кампус, который <span>открыт 24/7</span>. Всё остальное — в твоих руках.
                    </p>
                </div>
                <div class="principles__item principles-item">
                    <div class="principles-item__title">
                        Метод
                        Peer-to-Peer
                    </div>
                    <p class="principles-item__text">
                        Обычных уроков и лекций не будет. Вместо этого — методика peer-to-peer (P2P), по которой каждый учится у каждого. У всех участников разный бэкграунд и свой темп в обучении. <span>Работай в команде</span>, делись знаниями и получай опыт от таких же, как ты. Все участники равны.
                    </p>
                </div>
                <div class="principles__item principles-item">
                    <div class="principles-item__title">
                        Геймификация
                    </div>
                    <p class="principles-item__text">
                        Выполняй задания и получай очки опыта,<span> прокачивай навыки и двигайся вперёд</span> — уровень за уровнем. Участвуй в жизни Школы и получай награды, за проверки других участников — очки. Свои результаты можно сравнить с итогами других участников, чтобы понять точки роста и мобилизоваться.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>