<div th:fragment="skills">
    <section class="skills">
        <div class="container">
            <div class="skills__wrapper">
                <h2 class="skills__title title"> Вы сможете изучить </h2>
                <div class="skills__box">
                    <div class="skills__name">
                        Основные направления
                    </div>
                    <div class="skills__inner swiper-wrapper">
                        <!--                    skills-->
                        <div class="skills-tooltip">
                            <p class="skills__item"> Мобильная разработка (Kotlin, Swift)</p>
                        </div>
                        <!--                    skills-->
                        <div class="skills-tooltip">
                            <p class="skills__item"> Мобильная разработка (Kotlin, Swift)</p>
                        </div>
                        <!--                    skills-->
                        <div class="skills-tooltip">
                            <p class="skills__item"> Мобильная разработка (Kotlin, Swift)</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> Мобильная разработка (Kotlin, Swift)</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> Мобильная разработка (Kotlin, Swift)</p>
                        </div>
                    </div>
                </div>
                <div class="skills__box">
                    <div class="skills__name">
                        Основные направления
                    </div>
                    <div class="skills__inner">
                        <!--                    skills-->
                        <div class="skills-tooltip">
                            <p class="skills__item">C</p>
                        </div>
                        <!--                    skills-->
                        <div class="skills-tooltip">
                            <p class="skills__item"> C++</p>
                        </div>
                        <!--                    skills-->
                        <div class="skills-tooltip">
                            <p class="skills__item"> С#</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item">Java</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> GO</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> Swift</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> Python</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> SQL</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> JavaScript</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> Kotlin</p>
                        </div>
                        <div class="skills-tooltip">
                            <p class="skills__item"> TS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>