<div th:fragment="step_learn">
    <section class="process">
        <div class="container">
            <h2 class="process__title title">Как проходит обучение</h2>
            <div class="process__inner">
                <div class="process__top">
                    <div class="process__item process-item">
                        <div class="process-item__top">
                            Вступительные этапы
                        </div>
                        <div class="process-item__name process-name">
                            <div class="process-name__icon lazy"></div>
                            <div class="process-name__title"> Тест на память и логику </div>
                        </div>
                        <div class="process-item__description">
                            2 мини-игры онлайн — надо понять правила и заработать максимум баллов <br>~30 минут
                        </div>
                    </div>
                    <div class="process__item process-item">
                        <div class="process-item__top">
                            Вступительные этапы
                        </div>
                        <div class="process-item__name process-name">
                            <div class="process-name__icon lazy"></div>
                            <div class="process-name__title"> Встреча с командой Школы 21 </div>
                        </div>
                        <div class="process-item__description">
                            Расскажем все об обучении. Ответим на любые вопросы. Развеем все сомнения. Встреча проходит в формате вебинара. <br>~1 час
                        </div>
                    </div>
                    <div class="process__item process-item">
                        <div class="process-item__top">
                            Вступительные этапы
                        </div>
                        <div class="process-item__name process-name">
                            <div class="process-name__icon lazy"></div>
                            <div class="process-name__title"> Интенсив </div>
                        </div>
                        <div class="process-item__description">
                            Непрерывная учёба в кампусе. Советуем отложить все дела или взять отпуск. 22 проекта, чтобы освоиться в Школе 21 <br>26 дней
                        </div>
                    </div>
                </div>
                <div class="process__bottom">
                    <div class="process__item process-item">
                        <div class="process-item__top">
                            Вступительные этапы
                        </div>
                        <div class="process-item__name process-name">
                            <div class="process-name__icon lazy"></div>
                            <div class="process-name__title"> Alumni-комьюнити </div>
                        </div>
                        <div class="process-item__description">
                            Выпускники Школы 21 поддерживают связь друг с другом даже после окончания учёбы: обмениваются опытом, делятся новостями IT, помогают с работой и на проектах. Стань частью сообщества                        </div>
                    </div>
                    <div class="process__item process-item">
                        <div class="process-item__top">
                            Вступительные этапы
                        </div>
                        <div class="process-item__name process-name">
                            <div class="process-name__icon lazy"></div>
                            <div class="process-name__title"> Сертификат <br>Школы 21 </div>
                        </div>
                        <div class="process-item__description">
                            Участники получают сертификат базового или продвинутого уровня, который подтверждает практические навыки в программировании.
                        </div>
                    </div>
                    <div class="process__item process-item">
                        <div class="process-item__top">
                            Вступительные этапы
                        </div>
                        <div class="process-item__name process-name">
                            <div class="process-name__icon lazy"></div>
                            <div class="process-name__title"> Основное обучение
                            </div>
                        </div>
                        <div class="process-item__description">
                            Учёба начнётся через несколько недель после интенсива. Специализация, языки программирования и график — на выбор участника. Занятия можно совмещать с работой или учёбой в вузе
                            <br>~1,5–3 года
                        </div>
                    </div>
                </div>
            </div>
            <div class="process__btn-box">
                <button class="process__btn"> Хочу поступить </button>
            </div>
        </div>
    </section>
</div>